#board_details_page_content {
    padding: 25px 50px 50px 50px;
    display: flex;
    flex-direction: column;
}

#board_details_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#board_details_title {
    margin: 15px 0;
    font-size: 30px;
    font-weight: 100;
}

#board_details_title_text {
    font-weight: 400;
}

#board_details_btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#board_details_all_columns {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.board_details_one_column {
    min-width: 275px;
    max-width: 275px;
}

#board_details_add_col_btn {
    min-width: 100px;
    max-width: 100px;
}
