#footer {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #182c4c;
}

#footer-row-1 {
    display: flex;
    flex-direction: row;
    padding: 38px 88px 33px 88px;
}

#footer-logo {
    font-size: 30px;
    font-weight: 500;
    color: #FFFFFF;
}

#footer-login button {
    color: #FFFFFF;
    background-color: #182c4c;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    font-size: 16px;
}

#footer-login button:hover {
    text-decoration: underline;
}

#footer-row-2 {
    border-top: .5px solid rgb(93, 111, 155);
    padding: 25px 88px 23px 88px;
    /* padding: 25px 0 5px; */
    display: flex;
    flex-direction: row;
}

#footer-copyright {
    color: #FFFFFF;
    font-size: 12px;
}
