/* site wide styles */

* {
    color: #000000;
    font-family: 'Figtree', sans-serif;
    text-decoration: none;
}

#root {
    width: 100% !important;
}

button {
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    cursor: pointer;
}

.logo-blue {
    color: #0864fc;
}

.btn-hover-blue {
    color: #0844a4;
}

.accent-pink {
    color: #f054b4;
}

.accent-purple {
    color: #5844ac;
}

.font-blue-nav {
    color: #283c5c;
}

.font-blue-general {
    color: #101c44;
}

.bg-blue-footer {
    color: #182c4c;
}

.border-highlight-blue {
    color: #2596be;
}

.continue-btn-green {
    color: #60ac44;
}

.continue-btn-green-hover {
    color: #68bc4c;
}

.continue-btn-mint-green {
    color: #38b47c;
}

.continue-btn-mint-green-hover {
    color: #58dca4;
}
