/* site wide styles */

* {
    color: #000000;
    font-family: 'Figtree', sans-serif;
    text-decoration: none;
}

#root {
    width: 100%;
}

button {
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.logoBlue {
    color: #0864fc;
}

.accentPink {
    color: #f054b4;
}

.accentPurple {
    color: #5844ac;
}

.fontBlueNav {
    color: #283c5c;
}

.fontBlueGeneral {
    color: #101c44;
}

.bgBlueFooter {
    color: #182c4c;
}

.borderHighlightBlue {
    color: #2596be;
}

.continueBtnGreen {
    color: #60ac44;
}

.continueBtnGreenHover {
    color: #68bc4c;
}

.continueBtnMintGreen {
    color: #38b47c;
}

.continueBtnMintGreenHover {
    color: #58dca4;
}
