nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px 12px 12px;
  border-bottom: .5px solid grey;
}

#navRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

#navLogo {
  font-size: 30px;
}

#navFeatures {
  font-size: 17px;
}

#navPlans {
  font-size: 17px;
}

#navLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

#navLogin {
  font-size: 17px;
}

#navSignup {
  font-size: 17px;
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}
