#boardCard {
    display: flex;
    justify-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 20px; */
}

#boardCardImgDiv {
    z-index: -2;
}

#boardCardImg {
    width: 350px;
    height: 175px;
    object-fit: cover;
}

#boardCardTitle {
    z-index: -1;
    position: fixed;
    margin: 15px;
    font-size: 20px;
}
