#card {
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: .5px solid #cecece;
    padding: 10px;
    border-radius: 14px;
    background-color: white;
    margin: 10px 0;
}

#card_btns {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
