#boards-page {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
}

.dashboard-breadcrumb {
    margin-bottom: 5px;
}

#boards-header {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#boards-header-text {
    font-size: 40px;
}

#boards-header-add-btn button {
    min-width: 105px;
    max-width: 105px;

    display: flex;
    flex-direction: row;
    justify-content: end;

    padding: 12.5px;
    margin-top: -3px;

    border-radius: 9px;
    background-color: #ededed;
}

#boards-header-add-btn button:hover {
    background-color: #e5e5e5;
}

#board-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

#boardsall-footer Footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}
