#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color: white;
  border-radius: 3px;
  padding: 45px;
}

#modal-content h1 {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: -5px;
}

#modal-content form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* justify-content: center; */
}

#modal-content form input {
  background-color: #FFFFFF;
  padding: 10px;
  border: 2px solid #dcdcdc;
  border-radius: 3px;
}

#modal-content form input:focus {
  border: 2px solid #000000;
}

#modal-content form button {
  width: 100%;
  font-size: 16px;
  padding: 14px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


#modalLoginSignup button {
  color: #FFFFFF;
  background-color: #60ac44;
}

#modalLoginSignup button:hover {
  background-color: #68bc4c;
}
